.link-letterboxd{
  background: rgb(255,128,0);
  background: linear-gradient(45deg, rgba(255,128,0,1) 0%, rgba(0,224,84,1) 50%, rgba(64,188,244,1) 100%);
}
.link-bluesky {
  background: #0084ff;
  background: linear-gradient(2.35619rad, #5a72fa 0%, #0084ff 100%);
}
